service cloud.firestore {
  match /databases/{database}/documents {
    match /beverages/{beverage} {
        allow read: if true;
        allow write: if true;
    }
  }
}
